{:kotoba.app/id "cloud.itonami.isic-5629", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicx4hc2jjnhkb6fqbynttqf37vsr6avrjr4p7u5aflsqfawempo4m", :kotoba.app/embed-url "ipfs://bafkreicx4hc2jjnhkb6fqbynttqf37vsr6avrjr4p7u5aflsqfawempo4m", :published {:archive "https://kotobase.net/ipfs/bafkreicx4hc2jjnhkb6fqbynttqf37vsr6avrjr4p7u5aflsqfawempo4m", :size 73787, :put-status 201, :get-status 200, :at "2026-08-15T13:55:01.460Z"}}
